<a href="https://colab.research.google.com/github/falahamro/Deep-Learning/blob/main/Decsion_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

Using matplotlib backend: agg

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
data = pd.read_csv("/content/drive/MyDrive/Data Science Challenges /car_evaluation.csv")
df = data

In [6]:
df.head()

  Buying Maintainance Door Persons Lugg_Boot Safety  Class
0  vhigh        vhigh    2       2     small    low  unacc
1  vhigh        vhigh    2       2     small    med  unacc
2  vhigh        vhigh    2       2     small   high  unacc
3  vhigh        vhigh    2       2       med    low  unacc
4  vhigh        vhigh    2       2       med    med  unacc

In [7]:
## Independent Variables -

# Buying - buying price
# Maintainance - price of the maintenance
# Door - number of doors
# Persons - capacity in terms of persons to carry
# Lugg_Boot- the size of luggage boot
# Safety - estimated safety of the car

# Target Variable - 
# Class

EDA

In [8]:
df.shape

(1728, 7)

In [10]:
df.info # Summary report

<bound method DataFrame.info of      Buying Maintainance   Door Persons Lugg_Boot Safety  Class
0     vhigh        vhigh      2       2     small    low  unacc
1     vhigh        vhigh      2       2     small    med  unacc
2     vhigh        vhigh      2       2     small   high  unacc
3     vhigh        vhigh      2       2       med    low  unacc
4     vhigh        vhigh      2       2       med    med  unacc
...     ...          ...    ...     ...       ...    ...    ...
1723    low          low  5more    more       med    med   good
1724    low          low  5more    more       med   high  vgood
1725    low          low  5more    more       big    low  unacc
1726    low          low  5more    more       big    med   good
1727    low          low  5more    more       big   high  vgood

[1728 rows x 7 columns]>

In [12]:
#There are 7 variables in the dataset. All the variables are of categorical data type.

In [13]:
df['Class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: Class, dtype: int64

In [14]:
#The class target variable is ordinal in nature

In [15]:
# Checking for missing variables
df.isnull().sum()

Buying          0
Maintainance    0
Door            0
Persons         0
Lugg_Boot       0
Safety          0
Class           0
dtype: int64

Divide the data into feature vector and target variable

In [17]:
X = df.drop(['Class'], axis=1)
y = df['Class']

Train test split

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

Feature Engineering

In [21]:
X_train.dtypes

Buying          object
Maintainance    object
Door            object
Persons         object
Lugg_Boot       object
Safety          object
dtype: object

In [22]:
from sklearn.preprocessing import OrdinalEncoder

In [28]:
encoder = OrdinalEncoder()

In [29]:
X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [32]:
from sklearn.tree import DecisionTreeClassifier
clf_en = DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

# fit the model 

clf_en.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)

In [34]:
y_pred_en = clf_en.predict(X_test)

In [36]:
from sklearn.metrics import accuracy_score

print('Model accuracy score with criterion entropy: {0:0.4f}'. format(accuracy_score(y_test, y_pred_en)))

Model accuracy score with criterion entropy: 0.7653

Compare the train-set and test-set accuracy

In [37]:
y_pred_train_en = clf_en.predict(X_train)

y_pred_train_en

array(['unacc', 'unacc', 'acc', ..., 'acc', 'unacc', 'unacc'],
      dtype=object)

In [38]:
print('Training-set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train_en)))

Training-set accuracy score: 0.7744

Check for overfitting and underfitting

In [39]:
print('Training set score: {:.4f}'.format(clf_en.score(X_train, y_train)))

print('Test set score: {:.4f}'.format(clf_en.score(X_test, y_test)))

Training set score: 0.7744
Test set score: 0.7653