<a href="https://colab.research.google.com/github/falahamro/Deep-Learning/blob/main/Ridge_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso, Ridge

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
train_df = pd.read_csv("/content/drive/MyDrive/Data Science Challenges /big_mart_Train.csv")

In [15]:
train_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

Feature Engineering

In [16]:
train_df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [18]:
train_df['Item_Weight'].fillna((train_df['Item_Weight'].mean()), inplace = True)

In [19]:
train_df['Outlet_Size'].fillna('small', inplace = True)

In [23]:
train_df['Item_Visibility'] = train_df['Item_Visibility'].replace(0,np.mean(train_df['Item_Visibility']))

In [24]:
train_df['Outlet_Establishment_Year'] = 2003 - train_df['Outlet_Establishment_Year']

Creating dummy variables to convert categorical into numeric values

In [27]:
mylist = list(train_df.select_dtypes(include=['object']).columns)
mylist

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [28]:
dummies = pd.get_dummies(train_df[mylist], prefix= mylist)
train_df.drop(mylist, axis = 1, inplace= True)

In [29]:
X = pd.concat([train_df, dummies], axis= 1)

In [31]:
X.drop('Item_Outlet_Sales', axis=1, inplace = True)

In [32]:
X.shape

(8523, 1605)

Train test split

In [34]:
x_train, x_cv, y_train, y_cv = train_test_split(X,train_df.Item_Outlet_Sales, random_state=5)

Linear Regression Model

In [35]:
lreg = LinearRegression()
lreg.fit(x_train,y_train)

LinearRegression()

In [36]:
pred = lreg.predict(x_cv)

Checking accuracy

In [38]:
from sklearn.metrics import r2_score

score = r2_score(y_cv,pred)
score

-1.251955539237751e+18

Ridge Regression

In [40]:
ridge = Ridge(0.9, normalize=True)
ridge.fit(x_train,y_train)
pred1 = ridge.predict(x_cv)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  FutureWarning,

Accuracy

In [42]:
ridge.score(x_cv,y_cv)

0.4743930289008911